<header>
  <nav
    class="card h-20 px-[5rem] w-screen flex justify-between items-center rounded-none"
  >
    <a href="/" class="text-2xl font-extrabold">Where in the world?</a>
    <p><i class="bi bi-moon mr-3"></i>Dark Mode</p>
  </nav>
</header>
<main class="mt-12 px-[5rem]">
  <div class="flex justify-between">
    <div
      (click)="input.focus()"
      class="flex card px-8 py-4 w-[30rem] space-x-6 cursor-text"
    >
      <i class="bi bi-search"></i>
      <input
        #input
        class="placeholder:tracking-wide placeholder:text-sm grow focus:border-none focus:outline-none"
        placeholder="Search for a country..."
      />
    </div>
    <app-dropdown
      [items]="continents"
      (onChange)="filterByContinent($event)"
    ></app-dropdown>
  </div>
  <div class="grid grid-cols-4 gap-[4.5rem] mt-12">
    <div
      *ngFor="let country of countries"
      class="card h-[21em] overflow-hidden"
    >
      <img [src]="country.flags.png" class="h-[10em] w-full rounded-md" />
      <div class="px-6 mt-2">
        <p class="font-bold text-xl">{{ country.name.common }}</p>
        <p class="text-sm mt-3">Population:&nbsp;{{ country.population }}</p>
        <p class="text-sm mt-1">Region:&nbsp;{{ country.region }}</p>
        <p class="text-sm mt-1">Capital:&nbsp;{{ country.capital }}</p>
      </div>
    </div>
  </div>
</main>
