<div
  class="card mt-8 md:mt-0 py-4 dark:bg-[#2b3945] w-[200px] flex relative justify-between items-center px-6"
  (click)="show = !show; $event.stopPropagation()"
  id="dropDown"
>
  <label class="text-sm">{{ selected ?? "Filter by region" }}</label>
  <i class="bi bi-chevron-down text-xs"></i>
  <div
    *ngIf="show === true"
    class="card dark:bg-[#2b3945] absolute overflow-hidden top-[60px] h-max-[150px] h-min-[2000px] w-[200px] left-0"
  >
    <ul class="text-sm">
      <li
        *ngFor="let i of items"
        id="dropDownItem"
        (click)="onSelect(i); selected = i"
        class="py-2.5 hover:bg-blue-400 hover:text-white px-6"
      >
        {{ i }}
      </li>
    </ul>
  </div>
</div>
